@model Modist.Entities.Category
@{
    ViewBag.Title = "Create";
}



<div class="hero-wrap hero-bread" >

    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
            <h1 class="mb-0 bread">Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
        </div>
    </div>

</div>

<br />
<form method="post">

    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" />
            </div>

            <div class="form-group">
                <label>Descriptions</label>
                <input class="form-control" name="Descriptions" />
            </div>


            <button  class="btn btn-primary py-3 px-4" type="button">Save Category</button>

        </div>

    </div>
   

</form>